.gm-style-iw-d {
    padding-right: 10px !important;
     padding-bottom: 0px !important;
     max-width: 500px !important;
     max-height: 326px !important;
     min-width: 0px !important;
     border-radius: 8px;
 }